{% extends 'base.html' %}
{% load static %}
{% block content %}


<article class="article-recent">
    <div class="article-recent-main">
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-body">{{ post.description }}</p>
        <a href="{% url 'edit' edit_id=post.id %}" class="btn btn-success">Edit</a>
        <a href="{% url 'delete' del_id=post.id %}" class="btn btn-danger">Delete</a>
    </div>
    <div class="article-recent-secondary">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="article-image">
    </div>
</article>


{% endblock %}